<h1><%= @student.name %></h1>

<h3>Courses:</h3>
<ul>
  <% @student.courses.each do |course| %>
    <li><a href="/courses/<%= course.slug %>"><%= course.subject %>,</a> taught by: <a href="/teachers/<%= course.teacher.slug %>"><%= course.teacher.name %></a></li>
  <% end %>
</ul>

<% if session[:user_id] == @student.id %>
  <a href="/students/<%= @student.slug %>/edit">Edit Student Profile</a>
<% end %>
