<h1>Edit Account</h1>

<form action="/teachers/<%= @teacher.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Full Name:</label>
  <input type="text" name="name" value="<%= @teacher.name %>">

  <br><br>

  <label for="username">Username:</label>
  <input type="text" name="username" value="<%= @teacher.username %>">

  <br><br>

  <label for="alma_mater">Alma mater:</label>
  <input type="text" name="alma_mater" value="<%= @teacher.alma_mater %>">

  <br><br>

  <label for="years_experience">Years of Experience:</label>
  <input type="text" name="years_experience" value="<%= @teacher.years_experience %>">

  <br><br>

  <label for="password">Password:</label>
  <input type="password" name="password" value="">

  <br><br>

  <input type="submit" value="Edit Account">
</form>
