<h1>Teacher Profile</h1>
<h2><%= @teacher.name %></h2>

<h3>Alma mater: <%=  @teacher.alma_mater %></h3>
<h3>Years experience: <%=  @teacher.years_experience %></h3>

<% if session[:user_type] == "teacher" && session[:user_id] == @teacher.id %>
  <h4><a href="/courses/new">Create a Course</a></h4>
<% end %>

<h3>Courses:</h3>
<ul>
  <% @teacher.courses.each do |course| %>
    <li><a href="/courses/<%= course.slug %>"><%= course.subject %></a></li>
  <% end %>
</ul>

<% if session[:user_id] == @teacher.id && session[:user_type] == "teacher" %>
  <a href="/teachers/<%= @teacher.slug %>/edit">Edit Teacher Profile</a>
<% end %>
