<h1><%= @course.subject %></h1>

<% if @course.teacher.nil? %>
  <h3>Teacher: N/A</h3>
<% else %>
  <h3>Teacher: <a href="/teachers/<%= @course.teacher.slug %>"><%= @course.teacher.name %></a></h3>
<% end %>

<h3>Schedule: This class is taught on every <%= @course.day %>.</h3>

<h3>Students:</h3>
<ul>
  <% @course.students.each do |student| %>
    <li><a href="/students/<%= student.slug %>"><%= student.name %></a></li>
  <% end %>

  <% if @course.students.empty? %>
    <li>None</li>
  <% end %>
</ul>

<% if !@course.teacher.nil? && session[:user_type] == "teacher" && @course.teacher.id == session[:user_id] %>
  <a href="/courses/<%= @course.slug %>/edit">Edit this Course</a><br>
  <a href="/courses/<%= @course.slug %>/delete">Delete this Course</a>
<% end %>

<% if session[:user_type] == "student" && !@course.students.include?(Student.find(session[:user_id]))%>
  <a href="/courses/<%= @course.slug %>/join">Join this Course</a>
<% end %>

<% if session[:user_type] == "student" && @course.students.include?(Student.find(session[:user_id]))%>
  <a href="/courses/<%= @course.slug %>/leave">Leave this Course</a>
<% end %>
